In [1]:
import pandas as pd
import numpy as np

In [30]:
dict_empresas = {"eletrobras": pd.read_csv('clean_data\\dados_trimestrais_completos_2437.csv', sep=';', index_col=0),
        "tpaulista": pd.read_csv('clean_data\\dados_trimestrais_completos_18376.csv', sep=';', index_col=0),
        "taesa": pd.read_csv('clean_data\\dados_trimestrais_completos_20257.csv', sep=';', index_col=0),
        "alupar": pd.read_csv('clean_data\\dados_trimestrais_completos_21490.csv', sep=';', index_col=0),
    }

In [5]:
#compare the index
indices = dict_empresas["eletrobras"].index
for empresa in dict_empresas:
    if not dict_empresas[empresa].index.equals(indices):
        print(f"Índices diferentes: {empresa}")

Índices diferentes: alupar

In [37]:
dict_empresas["alupar"].head()

,3.01,3.02,3.03,3.04,3.05,3.06,3.07,3.08,3.09,3.10,3.11,3.99
DT_FIM_EXERC,,,,,,,,,,,,
2011-03-31,293389.0,-94234.0,199155.0,-11628.0,187527.0,-34444.0,153083.0,-19058.0,134025.0,0.0,134025.0,0.0
2011-09-30,322241.0,-104842.0,217399.0,-22989.0,194410.0,-54647.0,139763.0,-24607.0,115156.0,0.0,115156.0,0.0
2011-12-31,598015.0,-173975.0,424040.0,-67577.0,356463.0,-110532.0,245931.0,-56068.0,189863.0,0.0,189863.0,0.0
2012-03-31,296251.0,-51254.0,244997.0,-25524.0,219473.0,-54361.0,165112.0,-23579.0,141533.0,0.0,141533.0,0.0
2012-06-30,325260.0,-84140.0,241120.0,-27316.0,213804.0,-55707.0,158097.0,-29390.0,128707.0,0.0,128707.0,0.0

In [70]:
dict_empresas["alupar"].index = pd.to_datetime(dict_empresas["alupar"].index, format='%Y-%m-%d')

In [69]:
if '2011-06-30' not in dict_empresas['alupar'].index:
    print(dict_empresas['alupar'][dict_empresas['alupar'].index.year == 2011])
    registro_4tri = dict_empresas['alupar'][dict_empresas['alupar'].index == '2011-12-31']
    registro_4tri
    # BEGIN: dividir os valores contabeis de registro_4tri por 2
    registro_4tri_dividido = registro_4tri / 2
    print(registro_4tri.shape)
    print(type(registro_4tri_dividido))
    print(type(registro_4tri_dividido.values))
    registro_4tri_dividido.drop

    dict_empresas['alupar'].loc['2011-12-31'] = registro_4tri_dividido.values
    dict_empresas['alupar'].loc['2011-06-30'] = registro_4tri_dividido.values

                  3.01      3.02      3.03     3.04      3.05      3.06  \
DT_FIM_EXERC
2011-03-31    293389.0  -94234.0  199155.0 -11628.0  187527.0  -34444.0
2011-09-30    322241.0 -104842.0  217399.0 -22989.0  194410.0  -54647.0
2011-12-31    598015.0 -173975.0  424040.0 -67577.0  356463.0 -110532.0

                  3.07     3.08      3.09  3.10      3.11  3.99
DT_FIM_EXERC
2011-03-31    153083.0 -19058.0  134025.0   0.0  134025.0   0.0
2011-09-30    139763.0 -24607.0  115156.0   0.0  115156.0   0.0
2011-12-31    245931.0 -56068.0  189863.0   0.0  189863.0   0.0
(1, 12)
<class 'pandas.core.frame.DataFrame'>
<class 'numpy.ndarray'>

ValueError: cannot set a row with mismatched columns

In [77]:
dict_empresas['alupar'].loc[pd.Timestamp('2011-06-30')] = dict_empresas['alupar'].loc['2011-12-31']

In [78]:
dict_empresas['alupar'].loc['2011-06-30']

3.01    299007.5
3.02    -86987.5
3.03    212020.0
3.04    -33788.5
3.05    178231.5
3.06    -55266.0
3.07    122965.5
3.08    -28034.0
3.09     94931.5
3.10         0.0
3.11     94931.5
3.99         0.0
Name: 2011-06-30 00:00:00, dtype: float64

In [79]:
dict_empresas['alupar'].to_csv('clean_data\\dados_trimestrais_completos_21490.csv', sep=';')